*{
    background-color: #1D1D1F;
}

body{
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1200px;
    /*background-color: #1D1D1F;*/
    height: 2600px;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0px auto;
    padding: 0 auto;
}

/* Seccion del header de la pagina */

.header{

    height: auto;
    
}

.container-menu{
    height: 60px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;

}
.container-logo{
    width: 100%;
    height: inherit;
    text-align: center;
}

.site-title{
    margin: 0;
    padding: 0.36em 0;
    color: white;
}

.nav-list{
    padding: 0.25em 0;
    list-style-type: none;
    text-align: end;
    width: 100%;

}

.main-menu{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.main-menu__item{
    line-height: 3;
    border-right: 1cm;
}

.main-menu__link{
    text-decoration: none;
    font-size: 1em;
    color: white;
}

.main-menu__link:hover{
    text-decoration: underline;
    font-weight: bold;
}

.container-imagen{
    background-image: url('./bg.png');
    height: 300px;
    /* margin-bottom: 20px; */
}

/* Seccion de Los tipos de Guitarras */

.section-1{
    height: 850px;


}

.tiposGuitarraTitulos{
    color: white;
}

.borde{
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    border-color: white;
}

.section-text{
    margin: 0;
    color: white;
    font-weight: bold;
    text-align: center;
}

.service-content{
    padding: 0.5em 0;
}

.service-text{
    padding: 10px;
    text-align: justify;
    bottom: 0;
    color: white;
}

.col-3{
    width: 33.08%;
    height: 470px;
    display: inline-block;
    padding: -15px;
    margin-top: 5px;
    text-align: center;
}